
<footer class="f-info">
      <h1>PlugNgox Private Ltd.</h1>
      <div class="icons">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <i class="fa-brands fa-google-play"></i>
      </div>

      <div class="footer">
        <div class="item">
          <a href="/home">FAQ</a>
          <a href="/HTML/Investor.html">Investors</a>
        </div>

        <div class="item">
          <a href="/HTML/help.html">Help Centre</a>
          <a href="/HTML/jobs.html">Jobs</a>
        </div>

        <div class="item">
          <a href="/dashboard">Account</a>
          <a href="/HTML/contact.html ">Contact Us </a>
        </div>

        <div class="item">
          <a href="/HTML/tnc.html">Terms of Use</a>
          <a href="/HTML/Privacy.html">Privacy</a>
        </div> 
      </div>  
      <div class="footer-bottom">
        <p>This Template is Created by <strong>Amit Bangde & Team</strong> | PlugNGoX All Rights Reserved &copy; <script>document.write(new Date().getFullYear());</script></p>
      </div>   
    </footer>
    
 

